/* styles.css */

/* Reset một số kiểu mặc định */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa; /* Màu nền nhẹ */
}

/* Styles cho header */
.header {
    background-color: #4285F4; /* Màu xanh của Google */
    padding: 20px;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Styles cho navbar */
.navbar {
    display: flex;
}

.nav-links {
    list-style: none;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ddd; /* Màu chữ khi hover */
}

/* Styles cho main */
main {
    text-align: center;
    padding: 50px;
}

.search-bar {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 300px; /* Chiều rộng ô tìm kiếm */
}

/* Styles cho upload form */
.upload-form {
    margin: 20px 0;
}

/* Styles cho danh sách tệp */
#fileList {
    list-style: none;
    padding: 0;
}

#fileList li {
    padding: 10px;
    border: 1px solid #ccc;
    margin: 5px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Styles cho footer */
footer {
    text-align: center;
    padding: 20px;
    background-color: #f1f1f1; /* Màu nền nhẹ cho footer */
    position: relative;
    bottom: 0;
    width: 100%;
}
